@{
    ViewData["Title"] = "Coding tutorials";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the main page</h1>
    <p>This website is dedicated to coding tutorials</p>
</div>
